@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');
* {
  box-sizing: border-box;
}
body{
  margin:0;
}
#app {
    font-family: Lato, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
  }
h1,h2,h3,h4,h5,.tag,.search input {
  font-family: Abel, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }


  .bg-white {
    background-color: #fff;
  }
  .bg-dark {
    background-color: #116193;
  }
  .bg-gray {
    background-color: #ebebeb;
  }
  .bg-gray2 {
    background-color: #e6e6e6;
  }
  .bg-grayer {
    background-color: #555555;
  }
  .c-white {
    color: #fff;
  }
  .c-negative {
    color: #00e8e4;
  }
  .c-grayer {
    color: #555555;
  }
  .c-dark {
    color: #116193;
  }
  .c-gray {
    color: #ebebeb;
  }
  #header {
    width: 100%;
    height: 78px;
    display: flex;
    flex-basis: 100%;
    align-content: center;
    justify-content: center;
    h1 {
      font-size: 28px;
      text-align:center;
      font-weight: 300;
    }
  }
  main#main {
    header.search {
      display: flex;
      margin: auto;
      margin-top: 52px;
      margin-bottom: 42px;
      max-width: 900px;
      width: 100%;
      height: 42px;
      border-radius: 99px;
      align-content: center;
      justify-content: center;
      input {
        width: 100%;
        height:100%;
        margin: auto;
        background-color:transparent;
        border:0;
        outline: none;
        padding:0 25px;
      }
    }
  }
  .movieSearch{
    section.results {
      width: 100%;
      section#results {
        max-width: 900px;
        width: 100%;
        margin: auto;
        article {
          display: grid;
          grid-template-columns: 204px auto;
          margin-bottom: 44px;
          aside {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            figure {
              margin: 0;
              width: 100%;
              height: 308px;
              img {
                width: auto;
                height: 100%;
              }
            }
          }
          section{
            position:relative;
            h2 {
              height: 64px;
              padding-left:110px;
              margin:0;
              flex-basis:100%;
              display:flex;
              align-items: flex-end;
              padding-bottom:10px;
              font-weight: 300;
            }
            .average{
              position:absolute;
              left:20px;
              top:30px;
              display:flex;
              align-items: center;
              justify-content: center;
              border: 2px solid #00e8e4;
              color:#00e8e4;
              width:70px;
              height:70px;
              border-radius:50%;
              font-size:28px;
              font-weight: 300;
            }
            .releaseDate {
              width: 100%;
              margin: 0;
              padding: 10px 0 0 110px;
              font-family: 'Lato';
              font-weight: 400;
            }
            .overview{
              padding: 0 20px;
              display: -webkit-box;
              -webkit-line-clamp: 5;
              -webkit-box-orient: vertical;
              overflow: hidden;
              line-height: 1.5em;
            }
            .genres{
              
              width:100%;
              padding:0;
              margin:0;
              padding: 0 20px;
              .tag{
                display:inline-block;
                list-style-type: none;
                span{
                  color:#116193;
                  border:1px solid #116193;
                  background-color: #fff;
                  padding:0px 20px;
                  margin:0 10px 10px 0;
                  border-radius:99px;
                  height:25px;
                  display: flex;
                  align-items: center;
                  justify-content: center;                
                }
              }
            }
          }

        }
      }
    }
    .pagination{
      max-width: 900px;
      width: 100%;
      margin: auto;
      display: flex;
      justify-content: center;
      align-content: center;
      ul{
        padding:0;
        margin:0;
        line-height: 56px;
        text-align: center;
        li{
          display:inline-block;
          list-style-type: none;        
          span{

            font-family: Lato, Arial, sans-serif;  
            padding:.5rem;      
            font-size:14px;  
            font-family: Abel, Arial, sans-serif;
            &.current{
              background: #116193;
              color: #00e8e4;
              font-size: 28px;
              width: 50px;
              height: 50px;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              position: relative;
              top: 6px;
              box-shadow: inset 0px 0px 0px 2px #00e8e4;
              border: 2px solid #116193;
            }
          }

        }
      }
    }
        
  }
  .movieDetail {
    margin-top:40px;
    article.entry {
      max-width: 900px;
      width: 100%;
      margin: auto;
      margin-bottom: 94px;
      section.content {
        display: grid;
        grid-template-columns: auto 335px;
        margin-bottom: 40px;
        aside.prologue {
          padding-bottom:40px;
          header.meta-title {
            display: flex;
            height: 60px;
            align-items: center;
            justify-content: space-between;
            padding: 0 20px 0 40px;
            h2 {
              font-size: 26px;
              font-weight: 300;
              margin: 0;
            }
            aside.title {
              justify-self: flex-start;
            }
            aside.release {
              justify-self: flex-end;
            }
          }
          section.info {
            padding: 32px 32px 0 48px;
            h3 {
              font-size: 20px;
              font-weight: 300;
              border-bottom: 2px solid #00e8e4;
              margin: 0 0 20px;
            }
            p {
              text-align: justify;
              font-size: 14px;
            }
            ul {
              margin: 0;
              padding: 0;
              display: flex;
              li {
                list-style-type: none;
                margin: 0;
                padding: 0;
                flex-grow: 1;
                text-align: center;
                font-size: 14px;
                h4 {
                  margin: 0;
                }
              }
            }
          }
          footer {
            margin-top: 40px;
            display: grid;
            grid-template-columns: auto 70px;
            padding: 0 20px 0 40px;
            aside {
              &:first-child {
                .genres{
              
                  width:100%;
                  padding:0;
                  margin:0;
                  padding: 0 20px;
                  .tag{
                    display:inline-block;
                    list-style-type: none;
                    span{
                      color:#116193;
                      border:1px solid #116193;
                      background-color: #fff;
                      padding:0px 20px;
                      margin:0 10px 10px 0;
                      border-radius:99px;
                      height:25px;
                      display: flex;
                      align-items: center;
                      justify-content: center;                
                    }
                  }
                }
              }
              &:last-child {
                .average {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border: 2px solid #00e8e4;
                  color: #00e8e4;
                  width: 70px;
                  height: 70px;
                  border-radius: 50%;
                  font-size: 28px;
                  font-weight: 300;
                }
              }
            }
          }
        }
        aside.img {
          figure.meta-img {
            margin: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-content: center;
            justify-content: center;
            overflow: hidden;
            img {
              width: 100%;
              height: auto;
            }
          }
        }
      }
      section.video {
        background-color: #000;
        height: 538px;
      }
    }
  }

