<template>
    <div class="movieDetail">
        <main>
            <article :class="'entry entry-' + info.data.id">
                <section class="content bg-gray">
                    <aside class="prologue">
                        <header class="meta-title bg-gray2">
                            <aside class="title c-dark"><h2>{{ info.data.original_title }}</h2></aside>
                            <aside class="release c-grayer">{{ formatDate(info.data.release_date) }}</aside>
                        </header>  
                        <section class="info c-grayer">
                            <h3 class="c-dark" v-if="info.data.overview" >Sinopse</h3>
                            <p v-if="info.data.overview" >{{ info.data.overview }}</p>
                            <h3 class="c-dark" v-if="info.data.status || info.data.original_language || info.data.runtime || info.data.budget || info.data.revenue" >Informações</h3>
                            <ul v-if="info.data.status || info.data.original_language || info.data.runtime || info.data.budget || info.data.revenue" >
                                <li class="c-grayer" v-if="info.data.status"><h4 class="c-dark">Situação</h4>{{ info.data.status }}</li>
                                <li class="c-grayer" v-if="info.data.original_language"><h4 class="c-dark">Idioma</h4>{{ info.data.original_language }}</li>
                                <li class="c-grayer" v-if="info.data.runtime"><h4 class="c-dark">Duração</h4>{{ formatHMs(info.data.runtime) }}</li>
                                <li class="c-grayer" v-if="info.data.budget"><h4 class="c-dark">Orçamento</h4>${{ info.data.budget.toLocaleString() }}</li>
                                <li class="c-grayer" v-if="info.data.revenue"><h4 class="c-dark">Receita</h4>${{ info.data.revenue.toFixed(2).toLocaleString() }}</li>
                                <li class="c-grayer" v-if="info.data.budget && info.data.revenue"><h4 class="c-dark">Lucro</h4>${{ (info.data.revenue - info.data.budget).toFixed(2).toLocaleString()}}</li>
                            </ul>
                        </section>
                        <footer class="epilogue">
                            <aside>
                                <ul class="genres tags">
                                    <li class="genre tag" v-for="genre in info.data.genres" :key="genre.name"><span>{{ genre.name }}</span></li>
                                </ul>
                            </aside>
                            <aside>
                                <span class="average bg-dark">{{ info.data.vote_average * 10 }}%</span>
                            </aside>
                        </footer>

                    </aside>
                    <aside class="img">
                        <figure class="meta-img">
                            <img v-bind:src="'https://image.tmdb.org/t/p/w500/'+info.data.poster_path" v-bind:alt="info.data.original_title"/>
                        </figure>  
                    </aside>
                </section>

                <section class="video c-negative" v-if="video.data.results.length">
                    <iframe width="100%" height="538" v-bind:src="'https://www.youtube-nocookie.com/embed/'+video.data.results[0].key" v-bind:title="video.data.results[0].key" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </section>
            </article>
        </main>
    </div>
</template>

<script>
import moment from 'moment'
import axios from 'axios'
import options from '../api.js'

export default {
    props: ['id'],

    data() {
        return {
            MovieDetailId: this.$route.params.id,
            info: null,
            video: null,
            genders: null
        }
    },
    mounted () {
        this.getPost(this.MovieDetailId);
        this.getVideo(this.MovieDetailId);
    },
    methods:{
        getPost(id){
        axios
            .get('https://api.themoviedb.org/3/movie/'+id+'?language=pt-BR',options)
            .then(response => (this.info = response));
        },
        getVideo(id){
        axios
            .get('https://api.themoviedb.org/3/movie/'+id+'/videos?language=pt-BR',options)
            .then(response => (this.video = response));
        },
        formatDate(value){
            if (value) {
                return moment(String(value)).format('DD/MM/YYYY')
            }
        },
        formatHMs(value){
            if (value) {
                let hrs = moment.utc(moment.duration(value, "minutes").asMilliseconds()).format("H");
                let min = moment.utc(moment.duration(value, "minutes").asMilliseconds()).format("mm");
                console.log(min);
                return (hrs ? hrs + 'h' : '') + (min ? min + 'min' : '');
            }
        },
    }
}
</script>

<style>

</style>
