<template>
  <div class="movieSearch wrapper">
    <header class="search bg-gray">
        <input @input="getPostsInterval(1)" v-model="searchKey" type="text" placeholder="Pesquisar por nome, ano ou gênero" value=''/>
    </header>
    <section class="results">
        <section id="results">
            <article v-for="movie in movies.results" :key="movie.id" class="bg-gray">
                <aside>
                    <figure>
                        <img v-bind:src="'https://image.tmdb.org/t/p/w500/'+movie.poster_path" v-bind:alt="movie.original_title"/>
                    </figure>
                </aside>
                <section>
                    <router-link tag="h2" v-bind:to="'/movie/' +movie.id" class="bg-dark c-negative">{{ movie.original_title }}</router-link>
                    <span class="average bg-dark c-negative">{{ movie.vote_average * 10 }}%</span>
                    <h4 class="releaseDate">{{ formatDate(movie.release_date) }}</h4>
                    <p class="overview">{{ movie.overview }}</p>
                    <ul class="genres" v-html="getGenreName(movie.genre_ids,genres.data)">
                    </ul>
                </section>
            </article>
            <div class="pagination">
              <ul>
                <li class="pageIndex" v-for="index in movies.total_pages" :key="index"><span @click="getPostsInterval(index)" v-bind:class="{ current: currentPageIndex == index }">{{ index }}</span></li>
              </ul>
            </div>
            <div v-if="noResults">
            Nenhum resultado a mostrar.
            </div>
            <div v-if="searching">
            <i>Pesquisando</i>
            </div>
        </section>
    </section>
  </div>
</template>

<script>
import moment from 'moment'
import axios from 'axios'
import options from '../api.js'


export default {
  name: 'Search',
  props: {
    term: String
  },

  mounted () {

    this.getGenres();
    this.getPostsInterval(1);

  },
  data() {
      return {
      currentPageIndex: 1,  
      searchKey: '',
      searchGender:0,

      firstTime:true,
      perPage:2,
      movies: [],
      genres: null,  
      noResults:false,
      searching:false
      
    }
  },
  methods:{
    getPosts(page){
      axios
        .get('https://api.themoviedb.org/3/search/movie?language=pt-BR&page='+this.currentPageIndex+'&query='+encodeURIComponent(this.searchKey),options)
        .then(response => {
          this.searching = false;
          this.movies = response.data;
          //console.log(this.movies);
          this.noResults = this.movies.length === 0;
          
          this.currentPageIndex= page;
          //console.log(this.currentPageIndex);
          })
        .catch(function(error) {
         console.log(error);
        });
    },

    getPostsInterval(pages) {
    this.currentPageIndex=pages===undefined ? 1 : pages;
    this.firstTime=false;
    setTimeout(() => this.getPosts(pages), 1500);
    },

    getGenres(){
      axios
        .get('https://api.themoviedb.org/3/genre/movie/list?language=pt-BR',options)
        .then(response => (this.genres = response));
    },
    getGenreName(a,b){
        let i, newEl=[];
        for (i = 0; i < a.length; i++) {
          newEl+= '<li class="tag"><span>' + b.genres.filter(x => x.id === a[i]).map(x => x.name) + '</span></li>';
        }
        return newEl;
    },
    formatDate(value){
      if (value) {
          return moment(String(value)).format('DD/MM/YYYY')
      }
    },
  },
  created:{

  },
  computed:{

  },
  watch:{

  }
}

</script>
