<template>
  <div id="app">
    <header id="header" class="bg-dark">
      <h1 class="c-negative">Movies</h1>
    </header>
    <main id="main">
      <router-view />
    </main>
    
  </div>
</template>
<style lang="scss">
@import "./assets/css/style.scss";

</style>
<script>

export default {
  name: 'App'
}
</script>
